body {
    margin: 0;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(101, 23, 120), rgb(188, 168, 208), #47a1c8);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    color: rgb(0, 0, 0);
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
h1 {
    font-size: 4em;
    margin: 0.5em 0;
    animation: opac 2s ease forwards;
}

@keyframes opac{
    1%{opacity: 0%;}
    100%{opacity: 100%;}
}

p {
    font-size: 1.5em;
    margin: 0.5em 0;
    animation: opac 2s ease forwards;
}

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: all 150ms ease;
}

.button:hover {
    background: #444444; color: #ffffff;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
}

.loginbutton{
    border: none;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    padding: 8px 10px;
    background: #ffffff;
    transition: all 150ms ease;
}

.loginbutton:hover{
    background: #444444; color: #ffffff;
}

@keyframes buttonanimation{
    0%{background: #ffffff;}
    100%{background: #444444; color: #ffffff;}
}

.signupbutton{
    border: none;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    padding: 8px 10px;
    background: #ffffff;
    transition: all 150ms ease;
}

.signupbutton:hover{
    border: 4px solid black;
    background: #000000;
    color: #ffffff;
}

@media (min-width: 2in) and (max-width:4in) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
    
    nav a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin: 0 10px;
        font-size: 0px;
    }
    .signupbutton{
        text-decoration: none;
        margin: 0 10px;
        font-size: 10px;
    }
    .loginbutton{
        text-decoration: none;
        margin: 0 10px;
        font-size: 10px;
    }
    #toplogo {
        font-size: 1.5em;
        position: absolute;
        top: -7px;
        left: 11px;
    }
    

}

@media (min-width: 4.1in) and (max-width:4.4in){


}

@media (min-width: 4.4in) and (max-width: 4.9in) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 18px;
    }
    
    nav a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin: 0 10px;
        font-size: 0px;
    }
    .signupbutton{
        text-decoration: none;
        margin: 0 10px;
        font-size: 13px;
    }
    #toplogo {
        font-size: 1.5em;
        position: absolute;
        top: -7px;
        left: 11px;
    }
}
